<!-- UPDATED: Added mt-auto utility -->
<div class="container mt-auto"> 
    <footer class="py-3 my-4 d-flex flex-column align-items-center"> 
        <button class="about-button mb-3">About</button>
        <p class="text-center text-body-secondary m-0">© 2025 Company, Inc</p> 
    </footer> 
</div>
</body>
</html>
