<%- include("partials/header.ejs", {css: css}) %> 
<h1 class="title">My Saved Quizzes</h1>
<div class="cardBox" id="card-box">
    <p class="message" id="message">Loading...</p>
</div>

<div class="overlay-edit" id="overlay-edit">
        <div class="overlay-edit-box">
            <legdend class="name">
                Quiz Name: 
            </legdend>
            <form id="edit-form" onsubmit="event.preventDefault();">
                <input type="text" class="quizName" id="quiz-name" placeholder="Enter the name of your quiz" required>
                <p id="warning-text"></p>
                <div class="select-wrapper">
                    <legdend class="timer">
                        Time per Question: 
                    </legdend>
                <select name="time" id="time">
                    <option value="10">10s</option>
                    <option value="15">15s</option>
                    <option value="20">20s</option>
                    <option value="25">25s</option>
                    <option value="30">30s</option>
                    <option value="35">35s</option>
                    <option value="40">40s</option>
                    <option value="45">45s</option>
                    <option value="50">50s</option>
                    <option value="55">55s</option>
                    <option value="60">60s</option>
                </select>
                <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="overlay-btn">
                    <button type="button" class="cancelBtn" id="cancel-btn">Cancel</button>
                    <button type="submit" class="confirmBtn" id="confirm-btn">OK</button>
                </div>
            </form>
        </div>
    </div>

<div class="overlay-delete" id="overlay-delete">
        <div class="overlay-delete-box">
            <legdend class="check-question" id="check-question">
                Are you sure you want to delete?
            </legdend>
                <div class="overlay-btn">
                    <button type="button" class="noBtn" id="no-btn">No</button>
                    <button type="button" class="yesBtn" id="yes-btn">Yes</button>
                </div>
        </div>
    </div>
<script>
  window.results = <%- results %>;
</script>
<%- include("partials/footer.ejs") %>